.navbar {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}
.navbar-toggler {
    z-index: 99999;
    position: relative;
    padding-left: 1.25em;
}
.navbar-toggler:hover {
    background-color: transparent !important;
}
.navbar-toggler:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 30px;
    height: 2px;
    background: #fff;
    box-shadow: 0 10px 0 0 #fff, 0 20px 0 0 #fff;
}
.navbar-toggler:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none;
}
.navbar-toggler.newopen:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 30px;
    height: 2px;
    background: #000;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    box-shadow: 0 10px 0 0 transparent, 0 -20px 0px 0px transparent;
}
.navbar-toggler.newopen:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 30px;
    height: 2px;
    background: transparent;
    transform: rotate(-45deg);
    transform-origin: 75% 0%;
    box-shadow: -9px -2px 0px 0 #000, 0 20px 0 0 transparent;
}
.navbar-brexily .navbar-nav .nav-item {
    text-align: left;
    margin: 0 1px;
}

@media (max-width: 1199.99px){
    .navbar-brexily .navbar-nav .nav-item {
        /* .navbar-collapse.offcanvas-collapse .navbar-navtext-align: center; */
        margin: 0 1px;
    }
}
.navbar-brexily .navbar-nav .nav-item .current {
    color: #fff;
    position: relative;
    display: inline-block;
}
@media (max-width: 991px) {
    .navbar-brexily .navbar-nav .nav-item .current {
        font-size: 14px;
   }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .navbar-brexily .navbar-nav .nav-item .current {
        font-size: 14px;
   }
}
.navbar-brexily .navbar-nav .nav-item .current::before {
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #22e627;
}
.navbar-brexily .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    color: #e3d6f3;
    position: relative;
    display: inline-block;
}
@media (max-width: 991px) {
    .navbar-brexily .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        color: #000;
   }
}
@media (min-width:991.99px) and (max-width: 1200px) {
    .navbar-brexily .navbar-nav .nav-item .nav-link {
        font-size: 24px;
        color: #000;
        /* text-align: center; */
   }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .navbar-brexily .navbar-nav .nav-item .nav-link {
        font-size: 14px;
   }
}
.navbar-brexily .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #22e627;
}
@media (max-width: 1199px) {
    .navbar-brexily .navbar-nav .nav-item .nav-link::before {
        left: 0;
        top: 1px;
   }
}
.navbar-brexily .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    left: 15px;
    top: 0px;
    padding: 0.5em 0;
    position: absolute;
    content: '';
    color: #fff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.navbar-brexily .navbar-nav .nav-item .nav-link_brdr::before {
    background-color: transparent !important;
    width: 0%;
    content: "";
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 3px;
}
.navbar-brexily .navbar-nav .nav-item .nav-link:hover:before {
    opacity: 1;
    width: 100%;
}
.navbar-brexily .navbar-nav .nav-item .nav-link:hover:after {
    max-width: 100%;
}
@media (max-width: 380px) {
    .navbar-brand {
        width: 240px;
   }
}
@media (max-width: 1199.99px) {
    .navbar-collapse.offcanvas-collapse ul li {
        margin: 10px 20px !important;
   }
}
.scrolled {
    transition: 0.3s;
}
@media (max-width: 575.99px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
       /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 300px;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(34, 230, 39, 0.99);
        transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        z-index: 99 !important;
   }
}
@media (min-width: 576px) and (max-width: 1200px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
       /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 400px;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgba(34, 230, 39, 0.99);
        transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        z-index: 99 !important;
   }
}
@media (max-width: 575.99px) {
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-90%);
        transform: translateX(-90%);
   }
}
@media (min-width: 576px) and (max-width: 1200px) {
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
   }
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.nav-underline .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 18px;
    color: #6c757d;
}
.nav-underline .nav-link:hover {
    color: #007bff;
}
.nav-underline.active {
    font-weight: 500;
    color: #343a40;
}
.navbar-toggler-icon {
    background-color: transparent;
}
@media (max-width: 1199.99px) {
    .navbar-collapse.offcanvas-collapse .navbar-nav {
        padding-top: 120px;
   }
}
@media (min-width: 1200px) {
    .navbar-collapse.offcanvas-collapse {
        display: block;
   }
}
.navbar-brand img {
    width: 180px;
}
@media (max-width: 475px) {
    .navbar-brand img {
        width: 150px;
   }
}
@media (min-width: 1270px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 15px !important;
        padding-left: 15px !important;
   }
}


@media (max-width: 1199.99px) {
    .mbl_user_btns {
      top: 22px;
      right: 60px;
      position: absolute;
      display: block;
    }
}

@media (max-width: 420px){
    .mbl_user_btns {
        top: 60px;
        right: 0;
        position: absolute;
        display: block;
        left: 0;
        width: calc(100% + 30px);
        text-align: center;
        background-color: rgba(2, 38, 23, 1);
        padding-bottom: 15px;
        margin-left: -15px;
        /* padding-right: 12px; */
    }
}
  
  @media (min-width: 1200px) {
    .mbl_user_btns {
      display: none;
    }
  }
  
  .desktopView {
    display: block;
  }
  @media (max-width: 1199px) {
    .desktopView {
      display: none;
    }
  }
  
  /* .sticky .mbl_user_btns {
    top: 15px;
  } */

  .topMenu{
      position: absolute;
      left:19%
  }
  @media (max-width: 1670px){
    .topMenu{
        left:24%;
    }
  }